header, form {
    min-height: 20vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.todo-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.wrap {
    display: flex;
}

.complete {
    text-decoration: line-through;
    opacity: 0.5;
    background-color: rgb(133, 247, 167);
}